@font-face {
  font-family: "Karla";
  src: local("Karla"),
  url(/fonts/Karla-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"),
  url(/fonts/Lato-Regular.ttf) format("truetype");
  font-display: swap;
}
