@import "tailwindcss";

@theme {
  --spacing: 4px;

  --font-heading: 'Karla', sans-serif;
  --font-body: 'Nunito Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-background: #1B1F23;
  --color-surface: #2A2E35;
  --color-primary-text: #F0F1F2;
  --color-secondary-text: #A8B2C1;
  --color-primary: #34D399;
  --color-secondary: #35A6D4;
  --color-accent: #DE85FD;

  --color-error: #FF4E39;
  --color-warning: #D6D320;
  --color-info: #28A1FE;
  --color-success: #20D65A;
  --color-border: #202225;

  --text-page-title: 48px;
  --text-page-title--line-height: 64px;
  --text-page-title--letter-spacing: calc(48px * 0.05);
  --text-page-title--font-weight: 800;

  --text-section-title: 32px;
  --text-section-title--line-height: 48px;
  --text-section-title--letter-spacing: calc(32px * 0.10);
  --text-section-title--font-weight: 600;

  --text-subsection-title: 24px;
  --text-subsection-title--line-height: 36px;
  --text-subsection-title--letter-spacing: calc(24px * 0.10);
  --text-subsection-title--font-weight: 600;

  --text-paragraph: 20px;
  --text-paragraph--line-height: 32px;
  --text-paragraph--letter-spacing: calc(20px * 0.05);

  --text-caption: 16px;
  --text-caption--line-height: 20px;
  --text-caption--letter-spacing: calc(16px * 0.05);

  --text-code: 18px;
  --text-code--line-height: 24px;
}