---
import Layout from '../layouts/ContentLayout.astro';
import { Image } from "astro:assets";

import ProfilePicture from '../images/victortorres.jpg';

const title = 'About'
const description = "About Victor Torres"
---

<Layout
  title={title}
  description={description}
  current="about"
>
  <article>
    <p class="font-body text-paragraph my-4">
      Hey! I’m Victor Torres 👋
    </p>
    <p class="font-body text-paragraph my-4">
      I’m a software developer based in Guadalajara, Mexico, passionate about building clean, scalable, and delightful web applications. I believe in sharing knowledge freely, making things people actually use, and writing code that other developers, including my future self, won’t hate you for six months later.
    </p>
    <p class="font-body text-paragraph my-4">
      This blog is where I publish my deep dives, side projects, and ideas worth sharing — mostly for future me, and hopefully useful for others too.
    </p>
    <p class="font-body text-paragraph my-4">
      I created this space to share what I learn while working with modern technologies as I grow into a more well-rounded full-stack developer. I’m not trying to be perfect — I’m trying to <i>document the journey</i>, stay curious, and maybe, just maybe, help a few devs along the way.
    </p>
    <p class="font-body text-paragraph my-4">
      This blog is my digital lab — part archive, part playground. If it helps someone else solve a problem, build a better app, or even just feel less alone in the learning curve, that’s a win.
    </p>
    <p class="font-body text-paragraph my-4">
      When I'm not coding, I'm probably studying something new, reading a book, watching anime or playing some video game.
    </p>
    <p class="font-body text-paragraph my-4">
      Thanks for being here ✌️
    </p>

    <p class="font-body text-paragraph my-4">
      - Victor
    </p>

  </article>
  <div slot="sidebar" class="sidebar flex flex-col items-center">
    <Image
      src={ProfilePicture}
      alt="Victor Torres profile picture"
      width={300}
      height={300}
      class="rounded-full my-8 border border-border"
    />
  </div>
</Layout>