---
import Layout from '../layouts/BaseLayout.astro'
import HeaderNav from "../components/HeaderNav.astro";

const title = 'Blog | Coming Soon'
const description = 'This blog is under construction. Stay tuned for updates!'
---

<Layout
  title={title}
  description={description}
>
  <HeaderNav current=""/>
  <main class="container flex flex-col justify-center grow px-4 mx-auto max-w-[800px]">
    <h1 class="font-heading text-section-title text-primary my-4 text-center">
      Coming Soon
    </h1>
    <p class="text-paragraph my-4 text-center">
      This blog is under construction. Stay tuned for updates!
    </p>
  </main>
</Layout>