---
import { Image } from 'astro:assets';
import Layout from '../layouts/BaseLayout.astro';
import HeaderNav from '../components/HeaderNav.astro';

import ProfilePicture from '../images/victortorres.jpg';

const title = 'Victor Torres'
const description = "Victor's personal website"
---

<Layout
	title={title}
	description={description}
>
	<HeaderNav current="home"/>
	<main class="container flex flex-col justify-center grow px-4 mx-auto max-w-[800px]">
		<Image
			src={ProfilePicture}
			alt="Victor Torres profile picture"
			width={200}
			height={200}
			class="rounded-full self-center my-8 border border-border"
		/>
		<h1 class="font-heading text-page-title my-4 text-left">
			Hey there, I'm <span class="text-primary">Victor</span> 👋
		</h1>
		<p class="font-body text-[32px]/[40px] my-2">
			I’m a software developer from Guadalajara, Mexico, writing about Vue, AWS, and building modern web apps.
		</p>
		<p class="font-body text-[32px]/[40px] my-2">
			Follow along as I explore frameworks, best practices, and full-stack workflows.
		</p>
		<div class="w-full flex flex-col md:flex-row-reverse justify-stretch items-center gap-4 mt-4">
			<a href="/blog" class="bg-primary font-heading text-subsection-title text-[#1F2937] px-8 py-4 cursor-pointer w-full md:w-1/2 text-center">
				Check out my blog
			</a>
			<div class="font-heading text-subsection-title px-8 py-4 cursor-pointer w-full md:w-1/2 text-center">
				<a href="/about" class="underline">Learn more about me</a>
			</div>
		</div>
	</main>
</Layout>
