---
import Layout from '../layouts/ContentLayout.astro';
import HeaderNav from '../components/HeaderNav.astro';

const title = 'Resources'
const description = "Victor Torres's list of useful content"
---

<Layout
  title={title}
  description={description}
  current="resources"
>
  <p class="mb-4 text-base">
    This is a list of Internet resources that I've found useful in my journey. Most of them are related to the realm of code
  </p>

</Layout>