---
import Layout from '../layouts/ContentLayout.astro';
import HeaderNav from '../components/HeaderNav.astro';

const title = 'Victor Torres | Resources'
const description = "Victor Torres's list of useful content"
---

<Layout
  title={title}
  description={description}
  current="resources"
>
  <h1 class="text-teal-500 font-semibold text-3xl font-header mt-8 mb-4">
    Resources
  </h1>
  <p class="mb-4">
    This is a list of Internet resources that I've found useful in my journey. Most of them are related to the realm of code
  </p>

</Layout>