---
import NavigationMenu from './NavigationMenu.vue'

interface Props {
  current: string;
}

const { current } = Astro.props;
---

<header class="container mx-auto p-4 max-w-[1000px]">
  <h2 class="inline-block">
    <a href="/" class="flex justify-center items-center">
      <svg class="inline-block fill-teal-500 h-5" viewBox="0 0 46.666666666666664 29.571848081641757">
        <g transform="translate(-3.9010617238508734, -10.854996832994203) scale(0.672469448032154)">
          <path d="M38.496 40.078 l-11.25 20.039 l-14.15 0 l-2.0801 -20.039 l-2.6953 0 l-2.5195 -23.936 l15.322 0 l1.7871 21.123 c3.9551 -6.9434 7.5293 -14.209 11.455 -21.123 l14.941 0 l-13.447 23.936 l2.6367 0 z M60.75476953125 40.078 l-4.4531 20.039 l-14.854 0 l4.5703 -20.039 l-2.666 0 l2.959 -12.832 l-11.719 0 l2.5781 -11.104 l38.027 0 l-2.4902 11.104 l-11.689 0 l-2.8711 12.832 l2.6074 0 z"></path>
        </g>
      </svg>
      <span class="text-teal-500 font-black border-l-2 border-teal-500 pl-2 ml-2 text-lg font-header">
        VICTOR TORRES
      </span>
    </a>
  </h2>
  <!-- NavigationMenu current={current} client:load / -->
</header>
