---

interface Props {
  current: string;
}

const { current } = Astro.props;
---

<header class="container mx-auto py-4 max-w-[1280px]">
  <h2 class="flex justify-start items-center">
    <a href="/" class="flex flex-row">
      <svg class="fill-primary" viewBox="0 0 64 64" width="36" height="36" xmlns="http://www.w3.org/2000/svg">
        <path d="M30.5424 33.4179L22.3559 48H12.0592L10.5455 33.4179H8.58417L6.75076 16H17.9004L19.2008 31.3709C22.0789 26.3183 24.6798 21.0312 27.5365 16H38.4088L28.6236 33.4179H30.5424ZM46.7398 33.4179L43.4993 48H32.6903L36.016 33.4179H34.076L36.2292 24.0802H27.7015L29.5775 16H57.2492L55.4372 24.0802H46.9312L44.842 33.4179H46.7398Z" />
      </svg>
      <span class="font-heading text-subsection-title text-primary border-l-2 pl-3 ml-2">
        VICTOR TORRES
      </span>
    </a>
  </h2>
  <!-- NavigationMenu current={current} client:load / -->
</header>
