---

---
<div
  class="prose
  text-primary-text
  prose-headings:font-heading prose-headings:text-primary
  prose-h1:text-page-title
  prose-h2:text-section-title
  prose-h3:text-subsection-title
  prose-h4:text-subsection-title prose-h4:text-[20px]/[32px]
  prose-p:font-body prose-p:text-paragraph prose-p:text-primary-text prose-p:text-justify
  prose-a:text-primary-text prose-a:underline prose-a:decoration-primary prose-a:decoration-2
  prose-kbd:text-secondary-text
  prose-strong:text-primary-text prose-strong:font-extrabold
  prose-em:text-primary-text prose-em:italic
  prose-li:marker:text-primary-text
  prose-blockquote:text-secondary-text prose-blockquote:font-body prose-blockquote:italic prose-blockquote:bg-surface
  prose-pre:bg-surface prose-pre:rounded-none
  prose-code:font-code prose-code:text-secondary-text prose-code:bg-surface
  prose-figcaption:font-caption prose-figcaption:text-secondary-text
  prose-captions:font-caption prose-captions:text-secondary-text
  w-full max-w-none"
>
  <slot />
</div>