---
import BaseHead from '../components/BaseHead.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description} = Astro.props;
---
<html lang="en">
<head>
  <BaseHead title={title} description={description} />
</head>
<body class="bg-zinc-200 dark:bg-zinc-800 font-body text-teal-50 min-h-screen">
  <slot />
</body>