---
import BaseLayout from './BaseLayout.astro';
import HeaderNav from '../components/HeaderNav.astro';

interface Props {
  title: string;
  description: string;
  current: string;
}

const { title, description, current} = Astro.props;
---
<BaseLayout
  title={title}
  description={description}
>
  <HeaderNav current={current} />
  <main class="content">
    <slot />
  </main>
</BaseLayout>

<style>
  main {
    margin: 0 auto;
  }
</style>