---
import BaseLayout from './BaseLayout.astro';
import HeaderNav from '../components/HeaderNav.astro';

interface Props {
  title: string;
  description: string;
  current: string;
}

const { title, description, current} = Astro.props;
---
<BaseLayout
  title={title}
  description={description}
>
  <HeaderNav current={current} />
  <main class="container px-4 xl:px-0 mx-auto max-w-[1280px] grow mb-16">
    <header>
      <h1 class="font-heading text-section-title text-primary mt-0 mb-4">
        {title}
      </h1>
    </header>
    <section class="flex flex-col lg:flex-row gap-8">
      <div class="lg:w-3/4">
        <slot />
      </div>
      <aside class="min-w-[300px] lg:w-1/4">
        <slot name="sidebar" />
      </aside>
    </section>
  </main>
</BaseLayout>
