---
import BaseLayout from './BaseLayout.astro';
import HeaderNav from '../components/HeaderNav.astro';

interface Props {
  title: string;
  description: string;
  current: string;
}

const { title, description, current} = Astro.props;
---
<BaseLayout
  title={title}
  description={description}
>
  <HeaderNav current={current} />
  <main class="container h-[calc(100vh-62px)] px-4 lg:px-0 mx-auto max-w-[800px]">
    <h1 class="text-teal-500 font-semibold text-title font-header mt-8 mb-4">
      {title}
    </h1>
    <slot />
  </main>
</BaseLayout>
